$ExtraSmall: "(max-width: 767px)";
$Small: "(min-width: 600px)";
$Medium: "(min-width: 768px)";
$Large: "(min-width: 992px)";
$ExtraLarge: "(min-width: 1200px)";



$float-left:left;
$float-right:right;
$text-right:right;
$text-left:left;